#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#

*.o
*.o.*
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
Untitled Project.*
*.crf
*.d
*.hex
*.axf
*.htm
*.lnp
*.iex
*.sct
*.map
/project/stmicro_stm32f4xx_freertos_networking_8189em/MDK-ARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f4xx_freertos_networking_8189em/EWARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f4xx_freertos_networking_8189em/EWARM-RELEASE/settings/*

/project/stmicro_stm32f2xx_freertos_networking_8189em/MDK-ARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f2xx_freertos_networking_8189em/EWARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f2xx_freertos_networking_8189em/EWARM-RELEASE/settings/*

/project/stmicro_stm32f10x_freertos_networking_8189em/MDK-ARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f10x_freertos_networking_8189em/EWARM-RELEASE/STM322xG_EVAL/*
/project/stmicro_stm32f10x_freertos_networking_8189em/EWARM-RELEASE/settings/*

 
/doc/*
/tools/simple_config/*
*.orig
*.bak
*.dep
*.Administrator


## bootloader屏蔽区, 暂时没有MDK工程
## 取消跟踪文件或目录：git rm --cached [filename] [directory -r] 
/project/stmicro_stm32f4xx_bootloader/EWARM-RELEASE/Debug/*
/project/stmicro_stm32f4xx_bootloader/EWARM-RELEASE/settings/*


